* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*background dell'App*/
body {
    background-color: #d8dbd5;
    font-family: 'Open Sans', sans-serif;
}


.head_color {
    height: 15vh;
    background-color: #009688;
    padding-top: 30px;
}

/*Utilities*/

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.s_between {
    justify-content: space-between;
}

.align_center {
    align-items: center ;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.f-small {
    font-size: 14px;
}

.f-extrasmall {
    font-size: 12px;
}

.icon {
    color: #b1b1b1 ;
}

.friend_active {
    background-color: #e9ebebbe;
}

.text_center {
    text-align: center;
}


/*stile dell' app*/

.container {
    max-width: 80%;
    min-height: 90vh;
    margin: auto;
}

/*sidebar*/

.side_bar {
    width: calc(100% / 3);
    height: 90vh;
    background-color: white;
    overflow-y: scroll;
}

.user {
    height: 50px;
    background-color: #eaeaea;
}

.user span {
    vertical-align: top;
    padding-top: 10px;
    display: inline-block;

}

.user_avatar {
    width: 100px;
    padding: 5px;
}

.user_icon i {
    margin-right: 15px;
}

.notifications {
    height: 60px;
    background-color: #8edafc;
}

.bell {
    margin: 0 10px;
    background-color: white;
    color:#8edafc;
} 

.notifications i {
    padding: 12px 10px 10px 10px;
}

.search {
    width: 100%;
    height: 30px;
    padding: 4px;
    background-color: #f7f7f7;
}

.search_container {
    
    background-color: white;
    border: solid 1px rgb(224, 224, 224);
    border-radius: 2px;
}

.lens {
    width: 10%;
    text-align: center;
    border-right: solid 1px lightgrey;
}

.search_input {
    height: 100%;
    width: 90%;
    padding-left: 3px;
    border: none;
}

.info {
    flex-grow: 1;
}

.friend_card {
    height: 60px;
    cursor: pointer;
}

.friend_card img {
    margin: 0 10px;
}

.last_message {
    color: grey;
}

.hour {
    color: grey;
    align-self: flex-start; 
    margin-right: 5px;
}

/*Main Chat*/

.main_chat {
    width: calc((100% / 3 )* 2);
    height: 90vh;
}

.main_top {
    border-left: solid 1px lightgrey;
}

.main_top img {
    margin: 0 10px;
}

.main_middle {
    height: calc(90vh - 100px);
    background-image: url('../img/mine.jpg');
    overflow: scroll;
}

/*spazio dei messaggi*/
.container_messages {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    flex-direction: column;
    overflow-y: scroll;
}

.sent {
    width: 40%;
    background-color: #ffffff ;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}

.received {
    width: 40%;
    background-color: #d5f9ba;
    border-radius: 10px;
    padding: 15px;
    align-self: flex-end;
    margin-top: 10px;
}




/*foote chat*/
.main_footer {
    background-color: #f3eeea;
    height: 50px;
}

.chat_bar {
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.chat_icon {
    width: 10%;
    font-size: 20px;
}

